{% extends "base.html" %}

{% block title %}Exercise Planner{% endblock %}

{% block content %}
<div style="background-color: #7793ae; padding: 10px 0; text-align: center;">
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Exercise Planner" style="height:100px; width:auto;">
</div>

<p>
This website will help you keep track of the total calories burned through your exercises,
save your routines and see your progress everyday. JOIN NOW !!!
</p>

<div style="display: flex; justify-content: center; gap: 40px; margin-top: 40px;">

    <!-- BMI -->
    <div style="background-color: #c6d6e5; padding: 30px; width: 300px; border-radius: 12px;">
        <h2>BMI Calculator</h2>

        <p>Weight (kg)</p>
        <input type="text">

        <p>Height (cm)</p>
        <input type="text">

        <br><br>
        <button class="btn-blue">Calculate</button>

        <div style="margin-top:20px; background:#ccc; padding:10px; border-radius: 8px;">
            Result
        </div>
    </div>

    <!-- Login -->
    <div style="background-color: #e0e0e0; padding: 30px; width: 300px; border-radius: 12px;">
        <h2>Sign In</h2>

        {% if error %}
        <p style = "color: red;">{{error}}</p>
        {% endif %}
        
        <form method = "POST" action = "/login">
            <p>Username</p>
            <input type="text" name = "username">

            <p>Password</p>
            <input type="password" name = "password">

            <br><br>
            <button type = "submit" class="btn-blue">Sign In</button>
        </form>

        <p>
            Don't have an account?
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </p>

        <p>
            Forget your password?
            <a href="{{ url_for('forgot_password') }}">
                Forgot Password
            </a>
        </p>
    </div>

</div>
{% endblock %}
